.cadre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.d-flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

.bg-white {
  background-color: white !important;
}

.item-center {
  align-items: center;
}

.spe {
  color: white;
}
